:root {
  --pramary-bg: #000000;
  --text-span: #2688d4;
  --links: #bf8717;
  --links-active: #bfb117;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-animation {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

p {
  color: white;
}

span {
  color: red;
}

.test {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--links);
}

a:active {
  color: var(--links-active);
}

a:hover {
  opacity: .5;
}

.link-animation {
  animation: link-animation 1s linear infinite;
}

@keyframes link-animation {
  0% {
    color: red;
  }

  50% {
    color: var(--links-active);
  }

  100% {
    color: red;
  }
}